# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ip_contingency?schema=public"

# NextAuth
NEXTAUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Redis (rate limiting)
REDIS_URL="redis://localhost:6379"
